body{
            background-color:darkcyan; 
            color: whitesmoke
 }

 nav{
    padding: 5px;
    line-height: 30px;
 }

 footer{
    position: fixed;
    bottom: 0;
    text-aling: center; 
 }

 header{
    text-align: center;
 }

 img{
   width: 200px;
   height: 200px; 
   position: absolute; 
   left: 25%;
   top: 25%
 }

 .myImgClass{
   width: 150px;
 }

 #memeImage{
    margin-right: 100px;
    width: 200px; 
    
 }