body{
            background-color:darkcyan; 
            color: whitesmoke
 }

 nav{
    padding: 5px;
    line-height: 30px;
 }

 nav a{
    text-decoration: none;
    background-color: rgb(43, 180, 180);
    color: whitesmoke; 
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black; 
    margin: 10px; 
 }

 nav a:hover{
  background-color: rgb(79, 189, 189);

 }

 footer{
    position: fixed;
    bottom: 0;
    text-aling: center; 
 }

 header{
    text-align: center;
 }

 img{
   width: 200px;
   height: 200px; 
   position: absolute; 
   left: 25%;
   top: 25%
 }

 .myImgClass{
   width: 150px;
 }

 #memeImage{
    margin-right: 100px;
    width: 200px; 
 }

/* table styles */
        table{
            max-width: 400px;
            /* multiple borders in the same area will collapse into a single border */
            border-collapse: collapse; 
        }

        tr, th, td{
            padding: 10px;
        }

        tr{
        border: 2px solid green; 
        }

        th{
            background-color: rgb(97, 34, 152); 
            color: rgb(188, 188, 202); 
            text-align: left; 
        }

        tr:nth-child(even){
            background-color: lightgray; 
            color: navy;
        }

        tr:hover{
            background-color: rgb(152, 88, 208); 
            color: rgb(188, 188, 202);     
        }